.main {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../public/assets/image/wallpaperbetter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
